:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --new-ciolor: rgba(83, 103, 255, 1);
  --typography-heading: rgba(0, 0, 0, 1);
  --typography-paragraph: rgba(150, 150, 154, 1);
  --typography-sub-heading: rgba(108, 112, 128, 1);
  --typography-white: rgba(255, 255, 255, 1);
  --neutral-50: rgba(241, 242, 244, 1);
  --neutral-100: rgba(240, 241, 245, 1);
  --neutral-200: rgba(233, 234, 240, 1);
  --neutral-300: rgba(204, 206, 217, 1);
  --neutral-400: rgba(174, 177, 191, 1);
  --neutral-500: rgba(146, 149, 166, 1);
  --neutralparagraph-gray-500: rgba(108, 112, 128, 1);
  --neutral-700: rgba(84, 87, 102, 1);
  --neutral-800: rgba(35, 37, 48, 1);
  --neutralheading-gray-50: rgba(43, 49, 68, 1);
  --primary-50: rgba(226, 242, 255, 1);
  --primary-100: rgba(185, 221, 255, 1);
  --primary-200: rgba(138, 200, 255, 1);
  --primary-300: rgba(86, 178, 255, 1);
  --primary-400: rgba(37, 161, 255, 1);
  --primary-500: rgba(0, 145, 255, 1);
  --primary-600: rgba(0, 131, 248, 1);
  --primarycta-700: rgba(83, 103, 255, 1);
  --primary-800: rgba(0, 95, 210, 1);
  --primaryhover-cta-900: rgba(11, 62, 179, 1);
  --success-50: rgba(6, 78, 59, 1);
  --success-100: rgba(209, 250, 229, 1);
  --success-200: rgba(167, 243, 208, 1);
  --success-300: rgba(110, 231, 183, 1);
  --success-400: rgba(52, 211, 153, 1);
  --success-500: rgba(16, 185, 129, 1);
  --successuse-600: rgba(3, 166, 109, 1);
  --success-700: rgba(4, 120, 87, 1);
  --warning-50: rgba(254, 242, 242, 1);
  --warning-100: rgba(254, 226, 226, 1);
  --warning-200: rgba(254, 202, 202, 1);
  --warning-300: rgba(252, 165, 165, 1);
  --warning-400: rgba(248, 113, 113, 1);
  --warning-500: rgba(239, 68, 68, 1);
  --warninguse-600: rgba(220, 38, 38, 1);
  --warning-700: rgba(185, 28, 28, 1);
  --warning-800: rgba(153, 27, 27, 1);
  --warning-900: rgba(127, 29, 29, 1);
  --dark-themesection-color: rgba(18, 19, 24, 1);
  --dark-theme-background-color: rgba(8, 8, 8, 1);
  --display-font-01-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --display-font-01-semi-bold-font-weight: 600;
  --display-font-01-semi-bold-font-size: 72px;
  --display-font-01-semi-bold-letter-spacing: 0px;
  --display-font-01-semi-bold-line-height: 80px;
  --display-font-01-semi-bold-font-style: normal;
  --display-font-01-bold-font-family: "Inter-Bold", Helvetica;
  --display-font-01-bold-font-weight: 700;
  --display-font-01-bold-font-size: 72px;
  --display-font-01-bold-letter-spacing: 1.44px;
  --display-font-01-bold-line-height: 80px;
  --display-font-01-bold-font-style: normal;
  --display-font-01-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --display-font-01-extra-bold-font-weight: 800;
  --display-font-01-extra-bold-font-size: 72px;
  --display-font-01-extra-bold-letter-spacing: 1.44px;
  --display-font-01-extra-bold-line-height: 80px;
  --display-font-01-extra-bold-font-style: normal;
  --display-font-02-semi-bold-font-family: "Inter-Medium", Helvetica;
  --display-font-02-semi-bold-font-weight: 500;
  --display-font-02-semi-bold-font-size: 60px;
  --display-font-02-semi-bold-letter-spacing: 0px;
  --display-font-02-semi-bold-line-height: 72px;
  --display-font-02-semi-bold-font-style: normal;
  --display-font-02-bold-font-family: "Inter-Bold", Helvetica;
  --display-font-02-bold-font-weight: 700;
  --display-font-02-bold-font-size: 60px;
  --display-font-02-bold-letter-spacing: 0px;
  --display-font-02-bold-line-height: 72px;
  --display-font-02-bold-font-style: normal;
  --display-font-02-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --display-font-02-extra-bold-font-weight: 800;
  --display-font-02-extra-bold-font-size: 60px;
  --display-font-02-extra-bold-letter-spacing: 0px;
  --display-font-02-extra-bold-line-height: 72px;
  --display-font-02-extra-bold-font-style: normal;
  --heading-web-typography-h1-regular-font-family: "Inter-Regular", Helvetica;
  --heading-web-typography-h1-regular-font-weight: 400;
  --heading-web-typography-h1-regular-font-size: 48px;
  --heading-web-typography-h1-regular-letter-spacing: 0px;
  --heading-web-typography-h1-regular-line-height: 56px;
  --heading-web-typography-h1-regular-font-style: normal;
  --heading-web-typography-h1-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --heading-web-typography-h1-semi-bold-font-weight: 600;
  --heading-web-typography-h1-semi-bold-font-size: 48px;
  --heading-web-typography-h1-semi-bold-letter-spacing: 0px;
  --heading-web-typography-h1-semi-bold-line-height: 56px;
  --heading-web-typography-h1-semi-bold-font-style: normal;
  --heading-web-typography-h1-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h1-bold-font-weight: 700;
  --heading-web-typography-h1-bold-font-size: 48px;
  --heading-web-typography-h1-bold-letter-spacing: 0px;
  --heading-web-typography-h1-bold-line-height: 65px;
  --heading-web-typography-h1-bold-font-style: normal;
  --heading-web-typography-h1-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h1-extra-bold-font-weight: 800;
  --heading-web-typography-h1-extra-bold-font-size: 48px;
  --heading-web-typography-h1-extra-bold-letter-spacing: 0px;
  --heading-web-typography-h1-extra-bold-line-height: 56px;
  --heading-web-typography-h1-extra-bold-font-style: normal;
  --heading-web-typography-h2-regular-font-family: "Inter-Regular", Helvetica;
  --heading-web-typography-h2-regular-font-weight: 400;
  --heading-web-typography-h2-regular-font-size: 39px;
  --heading-web-typography-h2-regular-letter-spacing: 0px;
  --heading-web-typography-h2-regular-line-height: 47px;
  --heading-web-typography-h2-regular-font-style: normal;
  --heading-web-typography-h2-medium-font-family: "Inter-Medium", Helvetica;
  --heading-web-typography-h2-medium-font-weight: 500;
  --heading-web-typography-h2-medium-font-size: 39px;
  --heading-web-typography-h2-medium-letter-spacing: 0px;
  --heading-web-typography-h2-medium-line-height: 47px;
  --heading-web-typography-h2-medium-font-style: normal;
  --heading-web-typography-h2-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h2-bold-font-weight: 700;
  --heading-web-typography-h2-bold-font-size: 39px;
  --heading-web-typography-h2-bold-letter-spacing: 0px;
  --heading-web-typography-h2-bold-line-height: 47px;
  --heading-web-typography-h2-bold-font-style: normal;
  --heading-web-typography-h2-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h2-extrabold-font-weight: 800;
  --heading-web-typography-h2-extrabold-font-size: 39px;
  --heading-web-typography-h2-extrabold-letter-spacing: 0.78px;
  --heading-web-typography-h2-extrabold-line-height: 47px;
  --heading-web-typography-h2-extrabold-font-style: normal;
  --heading-web-typography-h3-regular-font-family: "Inter-Regular", Helvetica;
  --heading-web-typography-h3-regular-font-weight: 400;
  --heading-web-typography-h3-regular-font-size: 33px;
  --heading-web-typography-h3-regular-letter-spacing: 0.66px;
  --heading-web-typography-h3-regular-line-height: 40px;
  --heading-web-typography-h3-regular-font-style: normal;
  --heading-web-typography-h3-medium-font-family: "Inter-Medium", Helvetica;
  --heading-web-typography-h3-medium-font-weight: 500;
  --heading-web-typography-h3-medium-font-size: 33px;
  --heading-web-typography-h3-medium-letter-spacing: 0.66px;
  --heading-web-typography-h3-medium-line-height: 40px;
  --heading-web-typography-h3-medium-font-style: normal;
  --heading-web-typography-h3-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h3-bold-font-weight: 700;
  --heading-web-typography-h3-bold-font-size: 33px;
  --heading-web-typography-h3-bold-letter-spacing: 0.66px;
  --heading-web-typography-h3-bold-line-height: 40px;
  --heading-web-typography-h3-bold-font-style: normal;
  --heading-web-typography-h3-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h3-extra-bold-font-weight: 800;
  --heading-web-typography-h3-extra-bold-font-size: 33px;
  --heading-web-typography-h3-extra-bold-letter-spacing: 0.66px;
  --heading-web-typography-h3-extra-bold-line-height: 40px;
  --heading-web-typography-h3-extra-bold-font-style: normal;
  --heading-web-typography-h4-regular-font-family: "Inter-Regular", Helvetica;
  --heading-web-typography-h4-regular-font-weight: 400;
  --heading-web-typography-h4-regular-font-size: 28px;
  --heading-web-typography-h4-regular-letter-spacing: 0px;
  --heading-web-typography-h4-regular-line-height: 50px;
  --heading-web-typography-h4-regular-font-style: normal;
  --heading-web-typography-h4-medium-font-family: "Inter-Medium", Helvetica;
  --heading-web-typography-h4-medium-font-weight: 500;
  --heading-web-typography-h4-medium-font-size: 28px;
  --heading-web-typography-h4-medium-letter-spacing: 0.56px;
  --heading-web-typography-h4-medium-line-height: 34px;
  --heading-web-typography-h4-medium-font-style: normal;
  --heading-web-typography-h4-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h4-bold-font-weight: 700;
  --heading-web-typography-h4-bold-font-size: 28px;
  --heading-web-typography-h4-bold-letter-spacing: 0.56px;
  --heading-web-typography-h4-bold-line-height: 34px;
  --heading-web-typography-h4-bold-font-style: normal;
  --heading-web-typography-h4-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h4-extra-bold-font-weight: 800;
  --heading-web-typography-h4-extra-bold-font-size: 28px;
  --heading-web-typography-h4-extra-bold-letter-spacing: 0.56px;
  --heading-web-typography-h4-extra-bold-line-height: 34px;
  --heading-web-typography-h4-extra-bold-font-style: normal;
  --heading-web-typography-h5-regular-font-family: "Inter-Regular", Helvetica;
  --heading-web-typography-h5-regular-font-weight: 400;
  --heading-web-typography-h5-regular-font-size: 23px;
  --heading-web-typography-h5-regular-letter-spacing: 0px;
  --heading-web-typography-h5-regular-line-height: 30px;
  --heading-web-typography-h5-regular-font-style: normal;
  --heading-web-typography-h5-medium-font-family: "Inter-Medium", Helvetica;
  --heading-web-typography-h5-medium-font-weight: 500;
  --heading-web-typography-h5-medium-font-size: 23px;
  --heading-web-typography-h5-medium-letter-spacing: 0px;
  --heading-web-typography-h5-medium-line-height: 28px;
  --heading-web-typography-h5-medium-font-style: normal;
  --heading-web-typography-h5-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h5-bold-font-weight: 700;
  --heading-web-typography-h5-bold-font-size: 23px;
  --heading-web-typography-h5-bold-letter-spacing: 0px;
  --heading-web-typography-h5-bold-line-height: 28px;
  --heading-web-typography-h5-bold-font-style: normal;
  --heading-web-typography-h5-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h5-extra-bold-font-weight: 800;
  --heading-web-typography-h5-extra-bold-font-size: 23px;
  --heading-web-typography-h5-extra-bold-letter-spacing: 0px;
  --heading-web-typography-h5-extra-bold-line-height: 28px;
  --heading-web-typography-h5-extra-bold-font-style: normal;
  --heading-web-typography-h6-regular-font-family: "Inter-Medium", Helvetica;
  --heading-web-typography-h6-regular-font-weight: 500;
  --heading-web-typography-h6-regular-font-size: 19px;
  --heading-web-typography-h6-regular-letter-spacing: 0px;
  --heading-web-typography-h6-regular-line-height: 23px;
  --heading-web-typography-h6-regular-font-style: normal;
  --heading-web-typography-h6-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --heading-web-typography-h6-semi-bold-font-weight: 600;
  --heading-web-typography-h6-semi-bold-font-size: 19px;
  --heading-web-typography-h6-semi-bold-letter-spacing: 0.38px;
  --heading-web-typography-h6-semi-bold-line-height: 23px;
  --heading-web-typography-h6-semi-bold-font-style: normal;
  --heading-web-typography-h6-bold-font-family: "Inter-Bold", Helvetica;
  --heading-web-typography-h6-bold-font-weight: 700;
  --heading-web-typography-h6-bold-font-size: 19px;
  --heading-web-typography-h6-bold-letter-spacing: 0.38px;
  --heading-web-typography-h6-bold-line-height: 23px;
  --heading-web-typography-h6-bold-font-style: normal;
  --heading-web-typography-h6-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-web-typography-h6-extra-bold-font-weight: 800;
  --heading-web-typography-h6-extra-bold-font-size: 19px;
  --heading-web-typography-h6-extra-bold-letter-spacing: 0.38px;
  --heading-web-typography-h6-extra-bold-line-height: 23px;
  --heading-web-typography-h6-extra-bold-font-style: normal;
  --heading-mobile-typography-h1-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h1-regular-font-weight: 400;
  --heading-mobile-typography-h1-regular-font-size: 34px;
  --heading-mobile-typography-h1-regular-letter-spacing: 0.68px;
  --heading-mobile-typography-h1-regular-line-height: 40px;
  --heading-mobile-typography-h1-regular-font-style: normal;
  --heading-mobile-typography-h1-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --heading-mobile-typography-h1-semi-bold-font-weight: 600;
  --heading-mobile-typography-h1-semi-bold-font-size: 34px;
  --heading-mobile-typography-h1-semi-bold-letter-spacing: 0.68px;
  --heading-mobile-typography-h1-semi-bold-line-height: 40px;
  --heading-mobile-typography-h1-semi-bold-font-style: normal;
  --heading-mobile-typography-h1-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h1-bold-font-weight: 700;
  --heading-mobile-typography-h1-bold-font-size: 34px;
  --heading-mobile-typography-h1-bold-letter-spacing: 0.68px;
  --heading-mobile-typography-h1-bold-line-height: 40px;
  --heading-mobile-typography-h1-bold-font-style: normal;
  --heading-mobile-typography-h1-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h1-extra-bold-font-weight: 800;
  --heading-mobile-typography-h1-extra-bold-font-size: 34px;
  --heading-mobile-typography-h1-extra-bold-letter-spacing: 0.68px;
  --heading-mobile-typography-h1-extra-bold-line-height: 40px;
  --heading-mobile-typography-h1-extra-bold-font-style: normal;
  --heading-mobile-typography-h2-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h2-regular-font-weight: 400;
  --heading-mobile-typography-h2-regular-font-size: 33px;
  --heading-mobile-typography-h2-regular-letter-spacing: 0.66px;
  --heading-mobile-typography-h2-regular-line-height: 40px;
  --heading-mobile-typography-h2-regular-font-style: normal;
  --heading-mobile-typography-h2-semi-bold-font-family: "Inter-SemiBold", Helvetica;
  --heading-mobile-typography-h2-semi-bold-font-weight: 600;
  --heading-mobile-typography-h2-semi-bold-font-size: 33px;
  --heading-mobile-typography-h2-semi-bold-letter-spacing: 0.66px;
  --heading-mobile-typography-h2-semi-bold-line-height: 40px;
  --heading-mobile-typography-h2-semi-bold-font-style: normal;
  --heading-mobile-typography-h2-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h2-bold-font-weight: 700;
  --heading-mobile-typography-h2-bold-font-size: 33px;
  --heading-mobile-typography-h2-bold-letter-spacing: 0.66px;
  --heading-mobile-typography-h2-bold-line-height: 40px;
  --heading-mobile-typography-h2-bold-font-style: normal;
  --heading-mobile-typography-h2-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h2-extra-bold-font-weight: 800;
  --heading-mobile-typography-h2-extra-bold-font-size: 33px;
  --heading-mobile-typography-h2-extra-bold-letter-spacing: 0.66px;
  --heading-mobile-typography-h2-extra-bold-line-height: 40px;
  --heading-mobile-typography-h2-extra-bold-font-style: normal;
  --heading-mobile-typography-h3-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h3-regular-font-weight: 400;
  --heading-mobile-typography-h3-regular-font-size: 28px;
  --heading-mobile-typography-h3-regular-letter-spacing: 0.56px;
  --heading-mobile-typography-h3-regular-line-height: 34px;
  --heading-mobile-typography-h3-regular-font-style: normal;
  --heading-mobile-typography-h3-semi-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h3-semi-bold-font-weight: 700;
  --heading-mobile-typography-h3-semi-bold-font-size: 28px;
  --heading-mobile-typography-h3-semi-bold-letter-spacing: 0.56px;
  --heading-mobile-typography-h3-semi-bold-line-height: 34px;
  --heading-mobile-typography-h3-semi-bold-font-style: normal;
  --heading-mobile-typography-h3-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h3-bold-font-weight: 700;
  --heading-mobile-typography-h3-bold-font-size: 28px;
  --heading-mobile-typography-h3-bold-letter-spacing: 0.56px;
  --heading-mobile-typography-h3-bold-line-height: 34px;
  --heading-mobile-typography-h3-bold-font-style: normal;
  --heading-mobile-typography-h3-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h3-extra-bold-font-weight: 800;
  --heading-mobile-typography-h3-extra-bold-font-size: 28px;
  --heading-mobile-typography-h3-extra-bold-letter-spacing: 0.56px;
  --heading-mobile-typography-h3-extra-bold-line-height: 34px;
  --heading-mobile-typography-h3-extra-bold-font-style: normal;
  --heading-mobile-typography-h4-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h4-regular-font-weight: 400;
  --heading-mobile-typography-h4-regular-font-size: 23px;
  --heading-mobile-typography-h4-regular-letter-spacing: 0.46px;
  --heading-mobile-typography-h4-regular-line-height: 28px;
  --heading-mobile-typography-h4-regular-font-style: normal;
  --heading-mobile-typography-h4-medium-font-family: "Inter-Medium", Helvetica;
  --heading-mobile-typography-h4-medium-font-weight: 500;
  --heading-mobile-typography-h4-medium-font-size: 23px;
  --heading-mobile-typography-h4-medium-letter-spacing: 0px;
  --heading-mobile-typography-h4-medium-line-height: 28px;
  --heading-mobile-typography-h4-medium-font-style: normal;
  --heading-mobile-typography-h4-bod-font-family: "Inter-SemiBold", Helvetica;
  --heading-mobile-typography-h4-bod-font-weight: 600;
  --heading-mobile-typography-h4-bod-font-size: 23px;
  --heading-mobile-typography-h4-bod-letter-spacing: 0.46px;
  --heading-mobile-typography-h4-bod-line-height: 28px;
  --heading-mobile-typography-h4-bod-font-style: normal;
  --heading-mobile-typography-h4-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h4-extra-bold-font-weight: 800;
  --heading-mobile-typography-h4-extra-bold-font-size: 23px;
  --heading-mobile-typography-h4-extra-bold-letter-spacing: 0.46px;
  --heading-mobile-typography-h4-extra-bold-line-height: 28px;
  --heading-mobile-typography-h4-extra-bold-font-style: normal;
  --heading-mobile-typography-h5-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h5-regular-font-weight: 400;
  --heading-mobile-typography-h5-regular-font-size: 19px;
  --heading-mobile-typography-h5-regular-letter-spacing: 0.38px;
  --heading-mobile-typography-h5-regular-line-height: 23px;
  --heading-mobile-typography-h5-regular-font-style: normal;
  --heading-mobile-typography-h5-medium-font-family: "Inter-Medium", Helvetica;
  --heading-mobile-typography-h5-medium-font-weight: 500;
  --heading-mobile-typography-h5-medium-font-size: 19px;
  --heading-mobile-typography-h5-medium-letter-spacing: 0.38px;
  --heading-mobile-typography-h5-medium-line-height: 23px;
  --heading-mobile-typography-h5-medium-font-style: normal;
  --heading-mobile-typography-h5-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h5-bold-font-weight: 700;
  --heading-mobile-typography-h5-bold-font-size: 19px;
  --heading-mobile-typography-h5-bold-letter-spacing: 0.38px;
  --heading-mobile-typography-h5-bold-line-height: 23px;
  --heading-mobile-typography-h5-bold-font-style: normal;
  --heading-mobile-typography-h5-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h5-extra-bold-font-weight: 800;
  --heading-mobile-typography-h5-extra-bold-font-size: 19px;
  --heading-mobile-typography-h5-extra-bold-letter-spacing: 0.38px;
  --heading-mobile-typography-h5-extra-bold-line-height: 23px;
  --heading-mobile-typography-h5-extra-bold-font-style: normal;
  --heading-mobile-typography-h6-mobile-regular-font-family: "Inter-Regular", Helvetica;
  --heading-mobile-typography-h6-mobile-regular-font-weight: 400;
  --heading-mobile-typography-h6-mobile-regular-font-size: 14px;
  --heading-mobile-typography-h6-mobile-regular-letter-spacing: 0px;
  --heading-mobile-typography-h6-mobile-regular-line-height: 20px;
  --heading-mobile-typography-h6-mobile-regular-font-style: normal;
  --heading-mobile-typography-h6-mobile-semi-bold-font-family: "Inter-Medium", Helvetica;
  --heading-mobile-typography-h6-mobile-semi-bold-font-weight: 500;
  --heading-mobile-typography-h6-mobile-semi-bold-font-size: 14px;
  --heading-mobile-typography-h6-mobile-semi-bold-letter-spacing: 0.28px;
  --heading-mobile-typography-h6-mobile-semi-bold-line-height: 20px;
  --heading-mobile-typography-h6-mobile-semi-bold-font-style: normal;
  --heading-mobile-typography-h6-mobile-bold-font-family: "Inter-Bold", Helvetica;
  --heading-mobile-typography-h6-mobile-bold-font-weight: 700;
  --heading-mobile-typography-h6-mobile-bold-font-size: 14px;
  --heading-mobile-typography-h6-mobile-bold-letter-spacing: 0.28px;
  --heading-mobile-typography-h6-mobile-bold-line-height: 20px;
  --heading-mobile-typography-h6-mobile-bold-font-style: normal;
  --heading-mobile-typography-h6-mobile-extra-bold-font-family: "Inter-ExtraBold", Helvetica;
  --heading-mobile-typography-h6-mobile-extra-bold-font-weight: 800;
  --heading-mobile-typography-h6-mobile-extra-bold-font-size: 14px;
  --heading-mobile-typography-h6-mobile-extra-bold-letter-spacing: 0.28px;
  --heading-mobile-typography-h6-mobile-extra-bold-line-height: 18px;
  --heading-mobile-typography-h6-mobile-extra-bold-font-style: normal;
  --paragraph-p1-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-p1-regular-font-weight: 400;
  --paragraph-p1-regular-font-size: 14px;
  --paragraph-p1-regular-letter-spacing: 0px;
  --paragraph-p1-regular-line-height: 17px;
  --paragraph-p1-regular-font-style: normal;
  --paragraph-p1-medium-font-family: "Inter-Medium", Helvetica;
  --paragraph-p1-medium-font-weight: 500;
  --paragraph-p1-medium-font-size: 14px;
  --paragraph-p1-medium-letter-spacing: 0px;
  --paragraph-p1-medium-line-height: 17px;
  --paragraph-p1-medium-font-style: normal;
  --paragraph-p1-underline-font-family: "Inter-Regular", Helvetica;
  --paragraph-p1-underline-font-weight: 400;
  --paragraph-p1-underline-font-size: 14px;
  --paragraph-p1-underline-letter-spacing: 0px;
  --paragraph-p1-underline-line-height: 17px;
  --paragraph-p1-underline-font-style: normal;
  --paragraph-p2-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-p2-regular-font-weight: 400;
  --paragraph-p2-regular-font-size: 16px;
  --paragraph-p2-regular-letter-spacing: 0px;
  --paragraph-p2-regular-line-height: 22px;
  --paragraph-p2-regular-font-style: normal;
  --paragraph-p2-medium-font-family: "Inter-Medium", Helvetica;
  --paragraph-p2-medium-font-weight: 500;
  --paragraph-p2-medium-font-size: 16px;
  --paragraph-p2-medium-letter-spacing: 0px;
  --paragraph-p2-medium-line-height: 24px;
  --paragraph-p2-medium-font-style: normal;
  --paragraph-p2-underline-font-family: "Inter-Regular", Helvetica;
  --paragraph-p2-underline-font-weight: 400;
  --paragraph-p2-underline-font-size: 16px;
  --paragraph-p2-underline-letter-spacing: 0px;
  --paragraph-p2-underline-line-height: 24px;
  --paragraph-p2-underline-font-style: normal;
  --paragraph-p3-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-p3-regular-font-weight: 400;
  --paragraph-p3-regular-font-size: 18px;
  --paragraph-p3-regular-letter-spacing: 0px;
  --paragraph-p3-regular-line-height: 24px;
  --paragraph-p3-regular-font-style: normal;
  --paragraph-p3-medium-font-family: "Inter-Medium", Helvetica;
  --paragraph-p3-medium-font-weight: 500;
  --paragraph-p3-medium-font-size: 18px;
  --paragraph-p3-medium-letter-spacing: 0px;
  --paragraph-p3-medium-line-height: 24px;
  --paragraph-p3-medium-font-style: normal;
  --paragraph-p3-underline-font-family: "Inter-Regular", Helvetica;
  --paragraph-p3-underline-font-weight: 400;
  --paragraph-p3-underline-font-size: 18px;
  --paragraph-p3-underline-letter-spacing: 0px;
  --paragraph-p3-underline-line-height: 24px;
  --paragraph-p3-underline-font-style: normal;
  --caption-regular-font-family: "Inter-Regular", Helvetica;
  --caption-regular-font-weight: 400;
  --caption-regular-font-size: 12px;
  --caption-regular-letter-spacing: 0px;
  --caption-regular-line-height: 18px;
  --caption-regular-font-style: normal;
  --caption-medium-font-family: "Inter-Medium", Helvetica;
  --caption-medium-font-weight: 500;
  --caption-medium-font-size: 12px;
  --caption-medium-letter-spacing: 0px;
  --caption-medium-line-height: 18px;
  --caption-medium-font-style: normal;
  --caption-CAPS-LOOK-font-family: "Inter-SemiBold", Helvetica;
  --caption-CAPS-LOOK-font-weight: 600;
  --caption-CAPS-LOOK-font-size: 12px;
  --caption-CAPS-LOOK-letter-spacing: 0.6px;
  --caption-CAPS-LOOK-line-height: 18px;
  --caption-CAPS-LOOK-font-style: normal;
  --footer-regular-font-family: "Inter-Regular", Helvetica;
  --footer-regular-font-weight: 400;
  --footer-regular-font-size: 10px;
  --footer-regular-letter-spacing: 0px;
  --footer-regular-line-height: 14px;
  --footer-regular-font-style: normal;
  --footer-semi-bold-font-family: "Inter-Medium", Helvetica;
  --footer-semi-bold-font-weight: 500;
  --footer-semi-bold-font-size: 10px;
  --footer-semi-bold-letter-spacing: 0px;
  --footer-semi-bold-line-height: 14px;
  --footer-semi-bold-font-style: normal;
  --footer-CAPS-lock-font-family: "Inter-SemiBold", Helvetica;
  --footer-CAPS-lock-font-weight: 600;
  --footer-CAPS-lock-font-size: 10px;
  --footer-CAPS-lock-letter-spacing: 0.4px;
  --footer-CAPS-lock-line-height: 14px;
  --footer-CAPS-lock-font-style: normal;
  --shadow-XS: 0px 1.3444777727127075px 4.154436111450195px 0px rgba(210, 208, 225, 0.07),
    0px 3.2309670448303223px 9.983687400817871px 0px rgba(210, 208, 225, 0.1),
    0px 6.083624362945557px 18.798398971557617px 0px rgba(210, 208, 225, 0.12),
    0px 10.85214614868164px 33.53313064575195px 0px rgba(210, 208, 225, 0.14),
    0px 20.297746658325195px 62.720035552978516px 0px rgba(210, 208, 225, 0.17);
  --color-shadow-XS: 0px 4px 8px 0px rgba(185, 221, 255, 0.3);
  --shadow-SM: 3px 3px 16px 0px rgba(0, 0, 0, 0.1);
  --color-shadow-SM: 0px 6px 12px 0px rgba(185, 221, 255, 0.5);
  --shadow-MD: 2px 7px 20px 0px rgba(0, 0, 0, 0.14);
  --color-shadow-MD: 0px 9px 18px 0px rgba(185, 221, 255, 0.4);
  --shadow-LG: 0px 13px 37px 0px rgba(0, 0, 0, 0.21);
  --color-shadow-LG: 0px 13px 37px 0px rgba(185, 221, 255, 0.6);
  --shadow-XL: 0px 20px 56px 0px rgba(0, 0, 0, 0.29);
  --color-shadow-XL: 0px 20px 56px 0px rgba(185, 221, 255, 1);
  --BG-new-shadow: 0px 1.3444777727127075px 4.154436111450195px 0px rgba(210, 208, 225, 0.11),
    0px 3.2309670448303223px 9.983687400817871px 0px rgba(210, 208, 225, 0.1),
    0px 6.083624362945557px 18.798398971557617px 0px rgba(210, 208, 225, 0.12),
    0px 10.85214614868164px 33.53313064575195px 0px rgba(210, 208, 225, 0.14),
    0px 20.297746658325195px 62.720035552978516px 0px rgba(210, 208, 225, 0.17),
    0px 48.58522415161133px 150.1283416748047px 0px rgba(210, 208, 225, 0.24);
}

